<div class="flex">
  <div class="w-1/4 px-2 py-2 m-1 rounded-lg shadow-md bg-white">
    <%= render 'rooms' %>
  </div>
  
  <div class="w-3/4 px-4 py-2 m-1 rounded-lg shadow-md bg-white">
    <div class="bg-teal-100 h-full text-teal-900 border-lg rounded p-2">
      <h1 class="text-2xl text-gray-600 font-bold">Welcome to Rails Chat Tutorial</h1>
      <p class="text-teal-500">We need to talk</p>
      <hr />
      <p class="text-teal-400">You can join a room or create a new room from the sidebar</p>
    </div>
  </div>
</div>